/* Fix some Font smoothing issue in safari https://github.com/twbs/bootstrap/issues/11333 */
.navbar-fixed-top,
.navbar-fixed-bottom {
  -webkit-font-smoothing: subpixel-antialiased;
}

.navbar-right:last-child {
    margin-right: 0px;
}

.navbar li > a > span {
    margin-right: 0.2778em;
}

body {
    padding-top: 70px;
}

h2 {
    margin-top: 40;
}

.tooltip-inner {
    white-space:pre-wrap;
}

.people-avatar > img {
    margin-right: 5px;
    width: 32px;
    height: 32px;
}

.navbar-personaltools {
    border-left: 1px solid #646464;
}

.navbar-personaltools img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.navbar-personaltools-tools.open img {
    -webkit-filter: grayscale(50%);
    filter: grayscale(50%);
}

.navbar-personaltools-tools > a {
    height: 50px;
}

.navbar-personaltools > li:first-child:last-child > a,
.navbar-personaltools li.open:first-child:last-child > a {
    /* padding: 25px 10px;*/
    padding: 9px 9px;
    vertical-align: middle;
    position: relative;
    display: block;
    line-height: 0px;
}

.funding-progress-container {
    height: 50px;
}

.funding-progress-container-about {
    height: 30px;
    display: inline-block;
}

.funding-progress-container-about .funding-text-container {
    margin-right: 15px;
    float: left;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 5px;
}

.funding-progressbar {
    margin-top: 15px;
    width: 200px;
}

.funding-progress-container-about .funding-progressbar {
    margin-top: 5px;
    margin-bottom: 5px
}

.funding-month-small {
    display: none;
}

.people-table td {
    vertical-align: middle;
}

.stats-table td {
    vertical-align: middle;
    line-height: 35px !important;
}

.stats-table td.image {
    width: 32px !important;
    height: 32px !important;
}

.people-table td.people-avatar {
    width: 49px;
    box-sizing: content-box;
    vertical-align: middle;
}

.people-table td.username {
    width: 12em;
}

.people-table td.text-info {
    white-space: nowrap;
}

#stats-achievements-table td.name {
    min-width: 160px;
}

img.heading-icon {
    vertical-align: top;
    padding-top: 1px;
}

.loading > td {
    text-align: center;
    font-style: italic;
}

.player-avatar-name {
    display: inline-block;
}

.player-avatar-name > a,
.player-avatar-name > span {
    line-height: 16px;
    vertical-align: middle;
}

a.text-link {
    text-decoration: none;
    color: #000000;
}

a.tag:hover {
    text-decoration: none;
}

.item-image {
    width: 32px;
    height: 32px;
}

.tag {
    display: none;
}

a {
    position: relative;
    z-index: 1;
}

.btn {
    position: relative;
    z-index: 1;
}

.hidden {
    display: none;
}

.small {
    font-size: small;
}

.panel-heading {
    overflow: auto;
}

.muted {
    color: gray;
}

.social-link {
    display: inline-block;
    margin-right: 1em;
}

#username {
    vertical-align: middle;
    line-height: 32px;
}

#people-list {
    vertical-align: middle;
    line-height: 16px;
}

.player-avatar-name img,
.color-display > .color-field {
    margin-right: 0.5em;
}

.color-display > .color-field {
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid black;
    height: 16px;
    width: 16px;
    vertical-align: middle;
}

.nearest-neighbor { /*FROM http://stackoverflow.com/a/8888964/667338 */
  image-rendering: optimizeSpeed;             /* Legal fallback */
  image-rendering: -moz-crisp-edges;          /* Firefox        */
  image-rendering: -o-crisp-edges;            /* Opera          */
  image-rendering: -webkit-optimize-contrast; /* Safari         */
  image-rendering: optimize-contrast;         /* CSS3 Proposed  */
  image-rendering: crisp-edges;               /* CSS4 Proposed  */
  image-rendering: pixelated;                 /* CSS4 Proposed  */
  -ms-interpolation-mode: nearest-neighbor;   /* IE8+           */
}

#profile-skin {
    float: left;
    margin: 0 1em 1em 0;
    position: relative;
    width: 180px;
    height: 360px;
}

#profile-skin img {
    position: absolute;
}

#profile-skin img.foreground-image {
    z-index: 1;
}

#profile-skin img.drop-shadow {
    display: none;
    filter: blur(10px) brightness(-100);
    -webkit-filter: blur(10px) brightness(-100);
    opacity: 0.5;
    z-index: 0;
}

#profile-skin:hover img.drop-shadow {
    display: inline;
}

#user-description {
    font-size: normal;
}

.profile-panel {
    overflow: hidden;
}

.profile-panel > .panel-body {
    background-color: #c6c6c6;
}

.panel-heading {
    display: block;
}

.panel-heading .avatar {
    float: left;
    margin-right: 1em;
    display: inline-block;
}

.inventory-opt-out {
    display: none;
}

.inventory-opt-in {
    display: inline-block;
    margin-right: 29px;
}

.inv-cell {
    background-color: #8b8b8b;
    padding: 0;
}

.inv-cell > div.inv-cell-style {
    border-color: #373737;
    border-style: solid none none solid;
    border-width: 2px;
    height: 34px;
    margin: 0 2px 2px 0;
    position: relative;
}

.inv-cell > div.inv-cell-style > div.inv-cell-image {
    border-color: white;
    border-style: none solid solid none;
    border-width: 2px;
    box-sizing: content-box;
    height: 32px;
    margin: 0 -2px -2px 0;
    min-width: 32px;
}

.inv-cell > div.inv-cell-style > div.inv-cell-image > img {
    bottom: 1px;
    position: relative;
}

.inv-cell > div.inv-cell-style > span.count {
    bottom: 0;
    color: white;
    font-size: 16px;
    position: absolute;
    right: 0;
}

.inv-cell > div.inv-cell-style > div.durability {
    background-color: #283101;
    bottom: 2px;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    box-sizing: border-box;
    height: 4px;
    left: 4px;
    position: absolute;
    right: 2px;
}

.inv-cell > div.inv-cell-style > div.durability > div {
    height: 2px;
}

.achievement-list {
    display: inline;
    margin-right: 1em;
    white-space: normal;
}

abbr.nounderline {
    border-bottom-width: 0 !important;
    border-bottom: none !important;
}

.achievement-value {
    display: inline;
    white-space: nowrap;
    margin-right: 0.5em;
    height: 14px;
}

.achievement-name {
    height: 14px;
    font-size: 14px;
    line-height: 14px;
}

.achievement-image {
    background: url('/img/achievement-plain.png');
    box-sizing: border-box;
    height: 52px;
    padding: 10px;
    width: 52px;
}

.achievement-image.fancy {
    background: url('/img/achievement-fancy.png');
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a.slack-login-button {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 500;
}

a.slack-login-button .logo {
    height: 1em;
    width: auto;
    padding-left: 0.2em;
    margin-top: -1px
}

#preferences-body #profile #description {
    height: 200px;
}

.preferences-profile-lead {
    padding-left: 0;
    padding-top: 15px;
}

/* http://bootsnipp.com/snippets/featured/panels-with-nav-tabs */
.panel.with-nav-tabs .panel-heading {
    padding: 5px 0 0 0;
    border-bottom: none;
}

.panel.with-nav-tabs .nav-tabs {
    padding: 0 5px 0 5px;
}

.panel.with-nav-tabs .nav-justified {
    margin-bottom: -1px;
}

/********************************************************************/
/*** PANEL DEFAULT ***/
.with-nav-tabs.panel-default .nav-tabs > li > a,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
}

.with-nav-tabs.panel-default .nav-tabs > .open > a,
.with-nav-tabs.panel-default .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-default .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
    background-color: #ddd;
    border-color: transparent;
}

.with-nav-tabs.panel-default .nav-tabs > li.active > a,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
    color: #555;
    background-color: #fff;
    border-color: #ddd;
    border-bottom-color: transparent;
}

.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #f5f5f5;
    border-color: #ddd;
}

.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #777;
}

.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #ddd;
}

.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #555;
}

/********************************************************************/
/*** PANEL PRIMARY ***/
.with-nav-tabs.panel-primary .nav-tabs > li > a,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
    color: #fff;
}

.with-nav-tabs.panel-primary .nav-tabs > .open > a,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
    color: #fff;
    background-color: #3071a9;
    border-color: transparent;
}

.with-nav-tabs.panel-primary .nav-tabs > li.active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:focus {
    color: #428bca;
    background-color: #fff;
    border-color: #428bca;
    border-bottom-color: transparent;
}

.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #428bca;
    border-color: #3071a9;
}

.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #fff;
}

.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #3071a9;
}

.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    background-color: #4a9fe9;
}

/********************************************************************/
/*** PANEL SUCCESS ***/
.with-nav-tabs.panel-success .nav-tabs > li > a,
.with-nav-tabs.panel-success .nav-tabs > li > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li > a:focus {
    color: #3c763d;
}

.with-nav-tabs.panel-success .nav-tabs > .open > a,
.with-nav-tabs.panel-success .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-success .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-success .nav-tabs > li > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li > a:focus {
    color: #3c763d;
    background-color: #d6e9c6;
    border-color: transparent;
}

.with-nav-tabs.panel-success .nav-tabs > li.active > a,
.with-nav-tabs.panel-success .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li.active > a:focus {
    color: #3c763d;
    background-color: #fff;
    border-color: #d6e9c6;
    border-bottom-color: transparent;
}

.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #3c763d;   
}

.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #d6e9c6;
}

.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #3c763d;
}

/********************************************************************/
/*** PANEL INFO ***/
.with-nav-tabs.panel-info .nav-tabs > li > a,
.with-nav-tabs.panel-info .nav-tabs > li > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li > a:focus {
    color: #31708f;
}

.with-nav-tabs.panel-info .nav-tabs > .open > a,
.with-nav-tabs.panel-info .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-info .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-info .nav-tabs > li > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li > a:focus {
    color: #31708f;
    background-color: #bce8f1;
    border-color: transparent;
}

.with-nav-tabs.panel-info .nav-tabs > li.active > a,
.with-nav-tabs.panel-info .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li.active > a:focus {
    color: #31708f;
    background-color: #fff;
    border-color: #bce8f1;
    border-bottom-color: transparent;
}

.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #31708f;
}

.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #bce8f1;
}

.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #31708f;
}

/********************************************************************/
/*** PANEL WARNING ***/
.with-nav-tabs.panel-warning .nav-tabs > li > a,
.with-nav-tabs.panel-warning .nav-tabs > li > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > li > a:focus {
    color: #8a6d3b;
}

.with-nav-tabs.panel-warning .nav-tabs > .open > a,
.with-nav-tabs.panel-warning .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-warning .nav-tabs > li > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > li > a:focus {
    color: #8a6d3b;
    background-color: #faebcc;
    border-color: transparent;
}

.with-nav-tabs.panel-warning .nav-tabs > li.active > a,
.with-nav-tabs.panel-warning .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > li.active > a:focus {
    color: #8a6d3b;
    background-color: #fff;
    border-color: #faebcc;
    border-bottom-color: transparent;
}

.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #8a6d3b;
}

.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #faebcc;
}

.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #8a6d3b;
}

/********************************************************************/
/*** PANEL DANGER ***/
.with-nav-tabs.panel-danger .nav-tabs > li > a,
.with-nav-tabs.panel-danger .nav-tabs > li > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > li > a:focus {
    color: #a94442;
}

.with-nav-tabs.panel-danger .nav-tabs > .open > a,
.with-nav-tabs.panel-danger .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-danger .nav-tabs > li > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > li > a:focus {
    color: #a94442;
    background-color: #ebccd1;
    border-color: transparent;
}

.with-nav-tabs.panel-danger .nav-tabs > li.active > a,
.with-nav-tabs.panel-danger .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > li.active > a:focus {
    color: #a94442;
    background-color: #fff;
    border-color: #ebccd1;
    border-bottom-color: transparent;
}

.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #f2dede; /* bg color */
    border-color: #ebccd1; /* border color */
}

.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #a94442; /* normal text color */
}

.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #ebccd1; /* hover bg color */
}

.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff; /* active text color */
    background-color: #a94442; /* active bg color */
}
