@media (max-width: 1200px) {
    .navbar-right .funding-month {
        display: none;
    }

    .navbar-right .funding-month-small {
        display: inline;
    }
}

@media (max-width: 1110px) {
    .navbar-right .funding-text {
        display: none;
    }
}

@media (max-width: 992px) {
    .funding-progress-container {
        display: none;
    }
}

@media (min-width: 768px) {
    .container .funding-progressbar {
        width: 413px;
    }
}
